/*

            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            MID TERM PROJECT
            July -August 2022


            Colors:
            -------

            BLUES: #072AC8      #43D2FF     #A2D6F9     #D1EDFF
            GRAYS: #292E47      #6B708D     #F2F4FC     #ECF7FF
            YELLOW: #FFC600 

*/

/************************ THIRD PAGE CONTACT.HTML************************/
#contact-us
{
    margin-top:80px;
}

#contact-us button
{
    width:100%;
    margin-top: 20px;
    margin-bottom: 140px;
}

#contact-us label
{
    margin: 30px 0px;

}

#mail-phone
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.label100
{
    width:100%;
}


#contact-us input,  textarea
{
    background-color: rgba(107, 112, 141, 0.1);
    margin-top:10px;
    margin-bottom:30px;
}

#contact-us input[type="text"], input[type="email"],input[type="tel"]
{
    width:100%;
    padding: 15px;
}

#message
{
    resize: none;
    border:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    height: 150px;
}

#contact-mail, #contact-phone
{
    width:49%
}

/************************************************************************************************************************ 
                                            MEDIA QUERIES 
*************************************************************************************************************************/


/* Small devices (landscape phones, 576px and above till next break point)*/
/* MOBILE*/
@media (max-width:767px) 
{ 
    #contact-us
    {
        width:90%;
        margin-left:auto;
        margin-right:auto;
        
    }

    #contact-us button
    {
        margin-bottom:10%;
        margin-top:2%;
    }

    footer
    {
        margin-top:0;
    }
}

/* Medium devices (tablets, 768px and above till next break point)*/
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px)

{ 

    body
    {
        background-color: deeppink
    }

}