/*

            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            MID TERM PROJECT
            July -August 2022


            Colors:
            -------

            BLUES: #072AC8      #43D2FF     #A2D6F9     #D1EDFF
            GRAYS: #292E47      #6B708D     #F2F4FC     #ECF7FF
            YELLOW: #FFC600 

*/

/************************ INDEX.HTML************************/

#see-work
{
    margin-left:20px;
}

#see-work a
{

    color:#6B708D;
    font-weight: 500;

}

/****************               HERO SECTION                 ****************/
#hero
{
    display:flex;
    flex-direction:row; /* from left to right */
    flex-wrap:nowrap; /* to fit it all in the same line */
    justify-content:center; /* same space leftitem-leftmargin and rightitem-rightmargin */
    /*align-items:baseline;*/
    margin-top:80px;
    margin-bottom: 100px;


    
}

#left-hero
{
    padding-top:100px;
    width: 340px;
    margin-right:100px;

}

#left-hero p
{
    margin-bottom:30px;
    font-size:14px;
    line-height: 20px;
}

#right-hero
{
    position:relative;
    top:0;
    left:0;


}

#image1
{
    width:500px;
    height:auto;
    position:relative; /*the background image as relative position*/
    top:0;
    left:0;
    opacity: 0.7;
}


#image2
{
    position:absolute;
    left:-60px;
    top:-10px;
    width:300px;
    height:auto;


}

#image3
{
    position:absolute;
    right:-50px;
    bottom:-100px;
    width:300px;
    height:auto;



}



/****************               CLIENT SECTION                 ****************/
#client
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:140px;
    margin-bottom:130px;
}

.image-client
{
    filter:grayscale();
}

/****************               PROJECTS SECTION                 ****************/
#projects
{
    margin-bottom: 150px;

}


        /*************************   CARDS  (projects and services sections) ********************************/
        .cards-container
        {
            display:flex;
            flex-direction: row;
            justify-content:space-between;
            
        }

        .card
        {
            width:290px;
            background-color:white;
            box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
        }

        .card img
        {
            width:290px;
            height:200px;
        }

        .text-card
        {
            padding:25px;

        }
        .text-card p, a
        {
            font-size:14px;
        }

        .text-card p
        {
            margin-bottom:40px;
            line-height:25px;
        }

        .text-card img
        {
            margin-bottom: 20px;
        }

        .text-card h3
        {
            margin-bottom: 15px;
        }

        /*************************   EOCARDS ********************************/

/****************               TESTIMONIAL SECTION                 ****************/
#testimonial
{
    
    text-align:center;
    background-image:url("../images/testimonial-section/orbit.png");
    background-position:0 0;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#292E47;
    position:relative;
    top:0;
    left:0;
    

    
}

#testimonial h2
{
    color:white;
    padding-top:80px;
    font-weight: 700;
    padding-bottom:50px;


}
blockquote
{
    color: #FFC600;
    line-height: 25px;
    font-size:14px;
    font-weight:500;
}

.emoji-image
{
    width:100px;
    height:100px;
}

#emoji1
{
    position:absolute;
    top:45px;
    left:45px;
}

#emoji2
{
    position:absolute;
    top:45px;
    right:45px;
}

#emoji3
{
    position:absolute;
    bottom:45px;
    left:45px;
}


#emoji4
{
    position:absolute;
    bottom:45px;
    right:45px;
}

#kristin
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    margin-top:60px;
    padding-bottom:70px;
    height:50px;

}

#kristin img
{
    width:45px;
    height:45px;
    border-radius:50%;
    margin-right:8px;
}

#kristin p
{
    line-height:12px;
    text-align:left;
}

#name-kristin
{
    color:#A2D6F9;
    font-size: 12px;
    font-weight:400;



}

#booking-kristin
{
    color:#F4F6FC;
    font-size:10px;
    font-weight: 400;



}

/****************               SERVICES SECTION                 ****************/

#services
{
    margin-top:150px;
    margin-bottom:120px;
}

#services img
{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#D1EDFF;

}



/****************               CTA SECTION                 ****************/
#cta
{
    background-color: #FFC600;
    text-align:center;
    margin-bottom: 120px;
    padding-bottom:80px;
    padding-top:80px;
}

#cta h2
{
    margin-bottom: 10px;
}
#cta form
{

    margin-top:30px;
}

#cta ::placeholder
{  
    color: #292E47;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    
}
#cta input[type=text]
{
    margin-right:10px;
    width:300px;
    padding-left:40px;
    

}
#cta-mail
{

    background-image: url('../images/newsletter/icon/mail.svg');
    background-repeat: no-repeat;
    background-position:12px 12px;
    background-size: 20px;
}

/****************               FOOTER                 ****************/
footer
{

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:120px;
    margin-right:120px;
    font-size:12px;
}

#left-footer img
{
    width:100px;
    margin-bottom: 15px;
    
}

#right-footer
{
    width:430px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 40px 0px; 

    
}

address
{
    font-style:normal;
}


/************************************************************************* 
                         MEDIA QUERIES 
*************************************************************************/

/* Small devices (landscape phones, 576px and above till next break point)*/
@media (max-width:767px) /* MOBILE*/
{ 
    
   body
   {
        background-color:yellow;
   }

   
}

/* Medium devices (tablets, 768px and above till next break point)*/
@media (min-width: 768px) and (max-width: 1024px)/* TABLET */

{ 
    body
    {
        background-color: tomato;
    }
   

}
