/*

            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            MID TERM PROJECT
            July -August 2022


            Colors:
            -------

            BLUES: #072AC8      #43D2FF     #A2D6F9     #D1EDFF
            GRAYS: #292E47      #6B708D     #F2F4FC     #ECF7FF
            YELLOW: #FFC600 

*/

/************************ INDEX.HTML************************/


/****************               HERO SECTION                 ****************/
#hero
{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap; 
    justify-content:space-between; 
    margin-top:80px;
    margin-bottom: 100px;
}

#left-hero
{
    padding-top:100px;
    width: 33%;

}

#left-hero p
{
    margin-bottom:30px;
    font-size:14px;
    line-height: 20px;
}

#see-work
{
    margin-left:1.4%;
}

#see-work a
{
    color:#6B708D;
    font-weight: 500;
}


#right-hero
{
    position:relative;
    top:0;
    left:0;
    width:50%;
}

#image1
{
    width:100%;
    height:auto;
    position:relative; /*the background image as relative position*/
    top:0;
    left:0;
    opacity: 0.7;
}


#image2
{
    position:absolute;
    left:-9.5%;
    top:-4%;
    width:60%;
    height:auto;
}

#image3
{
    position:absolute;
    left:55%;
    top:65%;
    width:60%;
    height:auto;
}



/****************               CLIENT SECTION                 ****************/
#client
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:140px;
    margin-bottom:130px;
}

.image-client
{
    filter:grayscale();
}

.image-client:hover
{
    filter:none;
    transform: scale(1.5);
    transition: 0.1s linear;
}

/****************               PROJECTS SECTION                 ****************/
#projects
{
    margin-bottom: 150px;
}
   

/****************               TESTIMONIAL SECTION                 ****************/
#testimonial
{  
    text-align:center;
    background-image:url("../images/testimonial-section/orbit.png");
    background-position:0 0;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#292E47;
    position:relative;
    top:0;
    left:0;
}

#testimonial h2
{
    color:white;
    padding-top:80px;
    font-weight: 700;
    padding-bottom:50px;
}

blockquote
{
    color: #FFC600;
    line-height: 25px;
    font-size:14px;
    font-weight:500;
}

.emoji-image
{
    width:100px;
    height:100px;
}

#emoji1
{
    position:absolute;
    top:45px;
    left:45px;
}

#emoji2
{
    position:absolute;
    top:45px;
    right:45px;
}

#emoji3
{
    position:absolute;
    bottom:45px;
    left:45px;
}


#emoji4
{
    position:absolute;
    bottom:45px;
    right:45px;
}

#kristin
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    margin-top:60px;
    padding-bottom:70px;
    height:50px;
}

#kristin img
{
    width:45px;
    height:45px;
    border-radius:50%;
    margin-right:8px;
}

#kristin p
{
    line-height:12px;
    text-align:left;
}

#name-kristin
{
    color:#A2D6F9;
    font-size: 12px;
    font-weight:400;
}

#booking-kristin
{
    color:#F4F6FC;
    font-size:10px;
    font-weight: 400;
}

/****************               SERVICES SECTION                 ****************/

#services
{
    margin-top:150px;
    margin-bottom:120px;
}

#services img
{
    width:20%;
    height:auto;
    background-color:#D1EDFF;
    padding:1%;
    border-radius:50%;
}




/************************************************************************************************************************ 
                                            MEDIA QUERIES 
*************************************************************************************************************************/


/* Small devices (landscape phones, 576px and above till next break point)*/
/* MOBILE*/
@media (max-width:767px) 
{ 
    
    h2
    {
        text-align: center;
        margin-top:80px;
    }

    #hero
    {
        width:100%;
        display:flex;
        flex-direction:row-reverse; /* from right to left */
        flex-wrap:wrap-reverse; /* to fit it all in the necessary lines */
        margin-top:5%;
        margin-bottom: 10%;
    }

    #left-hero
    {
        padding-top:10%;
        width:100%;
        text-align:center;
    }

    #right-hero
    {
        width:100%;
        padding-left:7%;
        text-align:center;
    }

    #image1
    {
        width:50%;
        height:auto;
        position:relative; /*the background image as relative position*/
        top:0;
        left:0;
        opacity: 0.7;        
    }


    #image2
    {
        position:absolute;
        left:23%;
        top:0;
        width:30%;
        height:auto;
    }

    #image3
    {
        position:absolute;
        right:13%;
        bottom:-20%;
        width:30%;
        height:auto;
    }


    #client
    {
        justify-content: space-evenly;
        flex-wrap:wrap;
        align-items:center;
        margin-top:0;
        margin-bottom:0;

    }


    .image-client
    {
        width: 20%;
        margin:5%;
    }

    .image-client:hover
    {
        filter:grayscale();
        transform:none;
        transition:none;
    }
 

            /*************************   CARDS  (projects and services sections) ********************************/
            .cards-container
            {
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                row-gap:15px;
                justify-content:space-between;
            }
    
            .card
            {
                width:100%;
                text-align: center;
            }
    
            .card img
            {
                width:100%;
            }
    
            /*************************   EOCARDS ********************************/

    #services
    {
        margin-top:-7%;
        margin-bottom:5%;
    }   
   

    .emoji-image
    {
        width:10%;
        height:auto;
    }

    #emoji1
    {
        position:absolute;
        top:5%;
        left:2%;
    }

    #emoji2
    {
        position:absolute;
        top:5%;
        right:2%;
    }

    #emoji3
    {
        position:absolute;
        bottom:5%;
        left:2%;
    }


    #emoji4
    {
        position:absolute;
        bottom:5%;
        right:2%;
    }

    #testimonial
    {
        margin-top:-18%;
        margin-bottom:0;
    }

    #testimonial h2
    {
        padding-top:60px;
        padding-bottom:15px;
    }

    #kristin
    {

        margin-top:20px;
        padding-bottom:30px;
        height:50px;
    }
    
    #cta h2
    {
        margin-top:20px;
    }

}


/* Medium devices (tablets, 768px and above till next break point)*/
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px)

{ 
    body
    {
        background-color: deeppink
    }
    
    /* the only thing that has to be fixed is the hero section and client images*/

    #hero
    {
        margin-bottom: 60px;
    }

    #left-hero
    {
        padding-top:100px;
        width: 40%;
    }


    #right-hero
    {
        width:60%;
        padding-top:30px;
    }

    .image-client:hover
    {
        filter:grayscale();
        transform:none;
        transition:none;
    }

}
