/*

            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            MID TERM PROJECT
            July -August 2022


            Colors:
            -------

            BLUES: #072AC8      #43D2FF     #A2D6F9     #D1EDFF
            GRAYS: #292E47      #6B708D     #F2F4FC     #ECF7FF
            YELLOW: #FFC600 

*/

/****************               GENERAL STYLES                 ****************/

/*  we first import the font    */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


* /* all elements*/
{
    /* we initially define by default margin and padding as 0*/
    padding: 0;
    margin: 0;
    font-family: "Roboto";

}

body
{
    background-color: yellow;/*#F2F4FC;*/
    color:#514D67;
    margin-top:60px;
    margin-bottom:60px;
    padding-left:4%; /*60px; /****** MAKE RESPONSIVE *******/
    padding-right:4%;/*60px; /****** MAKE RESPONSIVE *******/
    font-weight:400;
    size:18px; /****** MAKE RESPONSIVE *******/
    /*width:100vw;********************* MODIFY ONCE WITH DOUBLE SCREEN*/
    width:100%;
}

h1, h2
{
    color: #292E47;
}

h1
{
    font-weight: 700;
    font-size: 40px; /****** MAKE RESPONSIVE *******/
    margin-bottom:30px;

}

h2
{
    margin-bottom: 40px;
}

p
{
    line-height: 30px;
}

a /* all links in the document*/
{
    text-decoration: none;
}

input[type=text], input[type="email"],input[type="tel"]
{
    box-sizing: border-box; /*so the width contains the padding*/
    height:45px;
    padding:1%;/*15px; /****** MAKE RESPONSIVE *******/
    border:none;
}

a:visited 
{
    color:inherit; /* so that color doesn't change when a link is already visited*/
}

.general-margins
{
    margin-right:0px;
    
}

/****************               NAV BAR                 ****************/
nav
{
    display:flex;
    flex-direction:row; /* from left to right */
    flex-wrap:nowrap; /* to fit it all in the same line */
    justify-content:space-between; /* same space leftitem-leftmargin and rightitem-rightmargin */
    align-items:center;
    background-color:aqua;
}

#logo-nav
{
    width: 12%/*70px; /****** MAKE RESPONSIVE *******/
}

ul {

	list-style-type: none; /*remove the markers */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	/*per posicionar cada enllaç a la mateixa línia (de cantó)*/
	float: left;
}

li a /* links inside the list */ 
{
	/*padding: 30px;*/
    margin:0px 30px;/*margin:0px 30px; /****** MAKE RESPONSIVE *******/
	text-align: center;
	display: block; /* so it behaves like a block*/
	color:#514D67;
    font-size:14px; /****** MAKE RESPONSIVE *******/
}

li a:hover 
{
	/*quan passem per sobre dels enllaços que formen part d'un li*/
	color:#072AC8;
}

a.active 
{
	color:#072AC8;
}

#services a, #projects a
{
    color:#072AC8;
}

button
{

    padding:15px 25px; /****** MAKE RESPONSIVE *******/
    border:none;
    text-align:center;
}

button a
{
    text-decoration:none;
    color:white;
    font-size: 12px; /****** MAKE RESPONSIVE *******/
}

.blue-button
{
    background-color:#072AC8;
    color:white;
    font-weight: 500;

}

/*************************   CARDS  (projects and services sections) ********************************/
.cards-container
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: darkmagenta;
    
}

.card
{
    width:80%;/****** MAKE RESPONSIVE *******/
    background-color:darkkhaki;/*white;*/
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.card img
{
    width:100%;
    height:200px;
}

.text-card
{
    padding:25px;/****** MAKE RESPONSIVE *******/

}
.text-card p, a
{
    font-size:14px;/****** MAKE RESPONSIVE *******/
}

.text-card p
{
    margin-bottom:40px;
    line-height:25px;/****** MAKE RESPONSIVE *******/
}

.text-card img
{
    margin-bottom: 20px;
}

.text-card h3
{
    margin-bottom: 15px;
}

/*************************   EOCARDS ********************************/

/****************               CTA SECTION                 ****************/
#cta
{
    background-color: #FFC600;
    text-align:center;
    margin-bottom: 120px;
    padding-bottom:80px;
    padding-top:80px;
}

#cta h2
{
    margin-bottom: 10px;
}
#cta form
{

    margin-top:30px;
}

#cta ::placeholder
{  
    color: #292E47;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    
}
#cta input[type=text]
{
    margin-right:10px;/****** MAKE RESPONSIVE *******/
    width:300px;
    padding-left:40px;/****** MAKE RESPONSIVE *******/
    

}
#cta-mail
{

    background-image: url('../images/newsletter/icon/mail.svg');
    background-repeat: no-repeat;
    background-position:12px 12px;
    background-size: 20px;
}

/****************               FOOTER                 ****************/
footer
{
    background-color: salmon;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /*margin-left:120px;/****** MAKE RESPONSIVE *******/
    /*margin-right:120px;/****** MAKE RESPONSIVE *******/
    font-size:12px;
}

#left-footer img
{
    width:100px;/****** MAKE RESPONSIVE *******/
    margin-bottom: 15px;
    
}

#right-footer
{
    width:430px;/****** MAKE RESPONSIVE *******/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 40px 0px; 
    
}

address
{
    font-style:normal;
}


/************************************************************************************************************************ 
                                            MEDIA QUERIES 
*************************************************************************************************************************/

/* Small devices (landscape phones, 576px and above till next break point)*/
/* MOBILE */
@media (max-width:767px) 
{ 
    
   body
   {
        margin-top:5%;
        margin-bottom:5%;
        padding:0;
        margin-left:0px; /****WHY??*****/
        margin-right:0px;/****WHY??*****/
        
   }

   h1
   {
        margin-bottom:5%;
   }

   .general-margins
   {
    margin:0;
   }


    /****************               NAV BAR                 ****************/

    #middle-nav
    {
        position:absolute;
         /* WHEN CLICKING HAMBURGER IGON, THIS SHALL ANIMATE TO POSITION ITSELF TO THIS POSITION*/
        left:0;
        top:30%;
        width:20%;
        background-color:#072AC8;

       
    }

    #logo-nav
    {
        width: 12%;/*70px; /****** MAKE RESPONSIVE *******/
        padding-left:22%;
    }

    ul {

        list-style-type: none; /*remove the markers */
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        float: none;
        color:white;
    }
    
    li a /* links inside the list */ 
    {
        /*padding: 30px;*/
        margin:20% 20%;/*margin:0px 30px; /****** MAKE RESPONSIVE *******/
        text-align: center;
        display: block; /* so it behaves like a block*/
        color:white;
        font-size:14px; /****** MAKE RESPONSIVE *******/
    }

    li a:hover 
    {
        /*quan passem per sobre dels enllaços que formen part d'un li*/
        color:yellow;
    }
    
    a.active 
    {
        color:white;
    }





    #cta
    {
        margin-bottom: 5%;
        padding-bottom:8%;
        padding-top:8%;
        width:100%;
    }

  

    footer
    {

        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        margin-left:0px;/****** MAKE RESPONSIVE *******/
        margin-right:0px;/****** MAKE RESPONSIVE *******/
        font-size:12px;
        background-color: aqua;
    }

    #left-footer img
    {
        width:25%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    #left-footer /*bottom position: reverse display in phone*/
    {
        margin-bottom:0;
        text-align:center;
    }

    #right-footer /*top position: reverse display in phone*/
    {
        width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 0px; 
        margin-left:20%;
    }
   
    
}

/* Medium devices (tablets, 768px and above till next break point)*/
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px)/* TABLET */

{ 
    body
    {
        background-color: tomato;
    }
   

}

