/*

            MARIONA BATALLA TAYLOR
            mariona.batalla.taylor@gmail.com
            IronHack - FrontEnd Bootcamp
            MID TERM PROJECT
            July -August 2022


            Colors:
            -------

            BLUES: #072AC8      #43D2FF     #A2D6F9     #D1EDFF
            GRAYS: #292E47      #6B708D     #F2F4FC     #ECF7FF
            YELLOW: #FFC600 

*/

/****************               GENERAL STYLES                 ****************/

/*  we first import the font    */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


* /* all elements*/
{
    /* we initially define by default margin and padding as 0*/
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body
{
    background-color: #F2F4FC;
    color:#514D67;
    margin-top:60px;
    margin-bottom:60px;
    font-weight:400;
    size:18px;
    width:93%;
    margin-right:auto;
    margin-left:auto;
}


h1, h2
{
    color: #292E47;
}

h1
{
    font-weight: 700;
    font-size: 40px;
    margin-bottom:30px;

}

h2
{
    margin-bottom: 40px;
}

p
{
    line-height: 30px;
}

a /* all links in the document*/
{
    text-decoration: none;
}

input[type=text], input[type="email"],input[type="tel"]
{
    box-sizing: border-box; /*so the width contains the padding*/
    height:45px;
    padding:1%;
    border:none;
}

a:visited 
{
    color:inherit; /* so that color doesn't change when a link is already visited*/
}

.general-margins
{
    width:87%;
    margin-right:auto;
    margin-left:auto;
}


/****************               NAV BAR                 ****************/
nav
{
    display:flex;
    flex-direction:row; /* from left to right */
    flex-wrap:nowrap; /* to fit it all in the same line */
    justify-content:space-between; /* same space leftitem-leftmargin and rightitem-rightmargin */
    align-items:center;
}

#logo-nav
{
    width: 8%;
}

ul 
{

	list-style-type: none; /*remove the markers */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li  /************************************************* MAKE FLEX*/
{
	float: left;
}

li a /* links inside the list */ 
{
    margin:0px 30px;
	text-align: center;
	display: block; /* so it behaves like a block*/
	color:#514D67;
    font-size:14px;
}

li a:hover 
{
	color:#072AC8;
}

a.active 
{
	color:#072AC8;
}

#services a, #projects a
{
    color:#072AC8;
}

button
{
    padding:15px 25px;
    border:none;
    text-align:center;
}

button a
{
    text-decoration:none;
    color:white;
    font-size: 12px;
}

.blue-button
{
    background-color:#072AC8;
    color:white;
    font-weight: 500;
}

button:hover
{
    background-color:#FFC600;
    color:black;
}

#cta button:hover
{
    background-color:#292E47;
    color:white;
}

/*************************   CARDS  (projects and services sections) ********************************/
.cards-container
{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.card
{
    width:27%;
    background-color:white;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.card img
{
    width:100%;
    height:210px;
    object-fit:cover;
}

.text-card
{
    padding:25px;

}
.text-card p, .text-card a
{
    font-size:14px;
}

.text-card p
{
    margin-bottom:40px;
    line-height:25px;
}

.text-card img
{
    margin-bottom: 20px;
}

.text-card h3
{
    margin-bottom: 15px;
}

/*************************   EOCARDS ********************************/

/****************               CTA SECTION                 ****************/
#cta
{
    background-color: #FFC600;
    text-align:center;
    margin-bottom: 120px;
    padding-bottom:80px;
    padding-top:80px;
}

#cta h2
{
    margin-bottom: 10px;
}
#cta form
{

    margin-top:30px;
}

#cta ::placeholder
{  
    color: #292E47;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    
}
#cta input[type=text]
{
    width:25%;
    padding-left:40px;
}
#cta-mail
{
    background-image: url('../images/newsletter/icon/mail.svg');
    background-repeat: no-repeat;
    background-position:12px 12px;
    background-size: 20px;
}

#cta button 
{
    margin-left:1%;
}


/****************               FOOTER                 ****************/
footer
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:12px;
}

#left-footer img
{
    width:20%;
    margin-bottom: 15px; 
}

#right-footer
{
    width:70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 70% 20%;
}

#right-footer a
{
    color: #514D67;
}

#right-footer a:hover
{
    color:#072AC8;
}

address
{
    font-style:normal;
}


/************************************************************************************************************************ 
                                            MEDIA QUERIES 
*************************************************************************************************************************/

/* Small devices (landscape phones, 576px and above till next break point)*/
/* MOBILE */
@media (max-width:767px) 
{ 
    
   body
   {
        width:100%;
        margin:0;
        padding:0;
   }

   h1
   {
        margin-bottom:5%;
   }

   .general-margins
   {
    width:100%;
    margin-left:0;
    margin-right:0;
   }

    /****************               NAV BAR                 ****************/


    #middle-nav
    {
        position:fixed;
         /* WHEN CLICKING HAMBURGER IGON, THIS SHALL ANIMATE TO POSITION ITSELF TO THIS POSITION*/
        left:0;
        top:0;
        width:100%;
        padding-top:5%;
        background-color:#072AC8;
        z-index:5;
       
    }

    #logo-nav
    {
        width: 12%;
    }

    ul {

        list-style-type: none; /*remove the markers */
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        float: none;
        color:white;
    }
    
    li a /* links inside the list */ 
    {
        margin:10% 20%;
        text-align: left;
        display: block; /* so it behaves like a block*/
        color:white;
        font-size:14px;
    }

    li a:hover 
    {
        /*quan passem per sobre dels enllaços que formen part d'un li*/
        color:yellow;
    }
    
    a.active 
    {
        color:white;
    }


    #cta
    {
        margin-bottom: 5%;
        padding-bottom:8%;
        padding-top:8%;
        width:100%;
    }


    footer
    {
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        font-size:12px;
    }

    #left-footer img
    {
        width:25%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    #left-footer /*bottom position: reverse display in phone*/
    {
        margin-bottom:0;
        text-align:center;
    }

    #right-footer /*top position: reverse display in phone*/
    {
 
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 0px; 
        padding-left:8%;
    }

    #right-footer a:hover
    {
        color:#514D67;
    }
   
    
}

/* Medium devices (tablets, 768px and above till next break point)*/
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px)/* TABLET */

{ 

    footer
    {
        align-items:center;
    }

    #right-footer
    {
        width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 70% 10%;
        margin-top:0px;
    }

}


